[build]
  command = "npm run build"
  publish = "build/client"

[functions]
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "20"

[[edge_functions]]
  function = "remix"
  path = "/*"


